@-moz-document url-prefix("https://la-conjugaison.nouvelobs.com/") {

.main1, .titre_exercice, .exercice_bloc1, header, #droite, div.container-full.footer {
    display: none;
}
}

@-moz-document domain("animedigitalnetwork.fr") {
.adn-caroussel-element,
div.adn-caroussel,
div.adn-header,
div.adn-pave {
    display: none !important;
}

div.adn-site {
    padding-top: 28px;
}
}

@-moz-document url("https://www.crunchyroll.com/simulcastcalendar") {
.release {
    position: relative;
    padding: 0 0 0.25rem .25rem;
}

ol.days {
    margin-top: 0 !important;
}

main.simulcast-calendar {
    padding-top: 5;
}

.simulcast-calendar-header {
    display: none;
}

a.js-season-name-link {
    font-size: x-small;
}

img.poster-image {
    width: 50%;
}
}

@-moz-document domain("la-conjugaison.nouvelobs.com") {
#gauche {
    float: left;
    width: 100%;
}

.main {
    padding-top: 0;
    width: 1300px;
}

.obs-header {
    display: none;
}
}

@-moz-document url-prefix("http://la-conjugaison.nouvelobs.com/exercice/") {
#header1 {
    display: none;
}

#droite {
    display: none;
}

.obs-footer.new {
    display: none;
}
}

@-moz-document url-prefix("https://www.seloger.com/") {
.carrousel_slide.c-slick-slide.slick-current.slick-active {
    height: 100% !important;
}
}

@-moz-document url-prefix("https://www.oui.sncf/proposition") {
div.proposal {
    display: none;
}


div.has-tgvmax {
    display: block !important;
}
}

@-moz-document url-prefix("https://leconjugueur.lefigaro.fr/conjugaison") {
#header_large {
    display: none !important;
}
aside {
    display: none !important;
}
div.conjugBloc,
div.conjugBloc p,
div.tempsBloc,
div.tempsBloc p {
    padding: 2px;
    margin: 0;
    width: inherit;
    margin-right: 5px;
}
#headerVerbe {
    margin: auto;
    width: 630px;
}
footer {
    display: none !important;
}
input.btn {
    display: none !important;
}
#headerVerbe p {
    margin: auto;
    display: table;
}
.conjug {
    display: inherit;
    margin: auto;
}
}
