
@-moz-document url-prefix("https://tomusss.univ-lyon1.fr") {
div.DisplayTypeText, div.DisplayTypeUpload, div.DisplayTypePrst,div.DisplayTypeURL,div.DisplayTypeBool,div.DisplayTypeDate, .Display.DisplayPicture.Picture {
    display:none;
}

.Display.DisplayUEGrades.UEGrades {
    column-count:2;
}

.Display.DisplayVertical.BodyLeft {
    max-width:inherit !important;
}

.Display.DisplayHorizontal.TopLine {
	position: absolute;
    top: 0;
    left: 376px;
    display:none;
}
.CellStatLine .CellAvg {
    display: flow-root;
}

#cellbox_tip > div > div > div > div > span.displaygrey:nth-child(2):before {
    content: "\A";
    white-space: pre;
}

#cellbox_tip > div > div.Display.DisplayVertical.CellBottom {
   display:none;
}

/* #cellbox_tip.hidden {
    opacity: 1;
    visibility: visible;
} */

.Display.DisplayHorizontal.User {
    display:none;
}

body {
    overflow-x: hidden;
}
}

@-moz-document url-prefix("https://tomusss.univ-lyon1.fr/2018/Printemps") {

div.Display.DisplayUE.UE:nth-child(2) {
    display:none;
}
}
